.token-stats {
    white-space: nowrap;
    align-items: center;
    display: grid;
    grid-template-columns: .25fr .25fr;
    grid-template-rows: .25fr .25fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "token-stats-hp token-stats-structure"
    "token-stats-heat token-stats-stress";
}

.token-stats-text {
    font-family: var(--main-font-family);
    font-weight: bold !important;
    font-size: small !important;
}

.token-stats-hp {
    grid-area: token-stats-hp;
}

.token-stats-structure {
    grid-area: token-stats-structure;
}

.token-stats-heat {
    grid-area: token-stats-heat;
}

.token-stats-stress {
    grid-area: token-stats-stress;
}
